.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 408px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4d5ae5;
}

.feedback-form textarea {
  resize: none;
}

.feedback-form button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  max-width: 95px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover {
  background-color: #404bbf;
}
